<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Conditional Form | Canvas</title>

  <style>
    /*지도 height 없으면 지도 사라짐*/
    #map {
      height: 50%;
      width: 50%;
      border: solid 1px;
      min-height: 300px;
      min-width: 300px;
    }
  </style>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">


  <!-- Content
   ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">

        <div class="col_half nobottommargin">

          <h3>Conditional Quote Form</h3>

          <form id="conditional-form" action="#" method="post" class="nobottommargin">

            <div class="col_full">
              <label for="form-condition-1">Enter Name</label>
              <input type="text" class="sm-form-control required" id="form-condition-1" name="form-condition-1" value="">
            </div>

            <div class="col_full" id="form-condition-2-wrap" style="display:none;">
              <label for="form-condition-2">Enter Email</label>
              <input type="email" class="sm-form-control required email" id="form-condition-2" name="form-condition-2" value="">
            </div>

            <div class="col_full" id="form-condition-3-wrap" style="display:none;">
              <label for="form-condition-3">Enter Website</label>
              <input type="url" class="sm-form-control required url" id="form-condition-3" name="form-condition-3" value="" placeholder="Include http://">
            </div>

            <div class="col_full" id="form-condition-4-wrap" style="display:none;">
              <label for="form-condition-4">Select Amount in Dollars($)</label>
              <select id="form-condition-4" name="form-condition-4" class="required sm-form-control">
                <option value="">-- Select One --</option>
                <option value="$500 to $1000">$500 to $1000</option>
                <option value="$1000 to $2000">$1000 to $1999</option>
                <option value="$2000 to $3000">$2000 to $3000</option>
                <option value="$3000 to $5000">$3000 to $5000</option>
                <option value="more than $5000">more than $5000</option>
              </select>
            </div>

            <div class="col_full" id="form-condition-5-wrap" style="display:none;">
              <label for="form-condition-5">Enter Message</label>
              <textarea class="sm-form-control required" id="form-condition-5" name="form-condition-5" rows="5" col="20" placeholder="Enter Minimum 20 Characters"></textarea>
            </div>

            <div class="col_full" id="form-condition-submit" style="display:none;">
              <button class="button button-3d nomargin" type="submit">Send Quote</button>
            </div>

          </form>

        </div>

      </div>

      <!-- 지도 시작 -->
      <div id="map"></div>

      <div id="main_div">
        <input type="button" id="addbtn" value="add">
        <input type="button" id="save" value="save">
        <br>
        <input type="text" id="title" placeholder="title">
        <input type="file" name="imgs[]" id="inputImage" multiple=true>
        <ol class="searches" id="sortable">
          <li class="ui-state-default">
            drag<input id="pac-input" class="controls" type="text" onkeydown="return enter(event)" placeholder="Enter a location">
            <input type="button" class="delbtn" value="delete">
            <input type="hidden" class="p_id">
            <input type="hidden" class="p_name">
          </li>
        </ol>
        <br>
        <br>
        <div class="carousel">
        </div>

      </div>
      <!--지도 끝-->

    </div>

  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">

          <div class="col_one_third">

            <div class="widget clearfix">

              <img src="/assets/footer-widget-logo.png" alt="" class="footer-logo">

              <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

              <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                <address>
                  <strong>Headquarters:</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                </address>
                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
              </div>

            </div>

          </div>

          <div class="col_one_third">

            <div class="widget widget_links clearfix">

              <h4>Blogroll</h4>

              <ul>
                <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
              </ul>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix">
              <h4>Recent Posts</h4>

              <div id="post-list-footer">
                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col_one_third col_last">

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Total Downloads</h5>
              </div>

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Clients</h5>
              </div>

            </div>

          </div>

          <div class="widget subscribe-widget clearfix">
            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
              <div class="input-group divcenter">
                <span class="input-group-addon"><i class="icon-email2"></i></span>
                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
              </div>
            </form>
          </div>

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 clearfix bottommargin-sm">
                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
              </div>
              <div class="col-md-6 clearfix">
                <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                  <i class="icon-rss"></i>
                  <i class="icon-rss"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
              </div>

            </div>

          </div>

        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>

<!--jquery ui cdn-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/assets/js/functions.js"></script>

<script>
    jQuery(document).ready( function($){
        var conditionValidator = $("#conditional-form").validate({
            rules: {
                'form-condition-5': {
                    required: true,
                    minlength: 20
                }
            }
        });

        $('#form-condition-1').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-1" ) === true ) {
                $('#form-condition-2-wrap').fadeIn();
            } else {
                $('#form-condition-2-wrap').fadeOut();
            }
        });

        $('#form-condition-2').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-2" ) === true ) {
                $('#form-condition-3-wrap').fadeIn();
            } else {
                $('#form-condition-3-wrap').fadeOut();
            }
        });

        $('#form-condition-3').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-3" ) === true ) {
                $('#form-condition-4-wrap').fadeIn();
            } else {
                $('#form-condition-4-wrap').fadeOut();
            }
        });

        $('#form-condition-4').change( function() {
            if( conditionValidator.element( "#form-condition-4" ) === true ) {
                $('#form-condition-5-wrap').fadeIn();
            } else {
                $('#form-condition-5-wrap').fadeOut();
            }
        });

        $('#form-condition-5').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-5" ) === true ) {
                $('#form-condition-submit').fadeIn();
            } else {
                $('#form-condition-submit').fadeOut();
            }
        });
        $('#form-condition-6').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-6" ) === true ) {
                $('#form-condition-submit').fadeIn();
            } else {
                $('#form-condition-submit').fadeOut();
            }
        });
        $('#form-condition-7').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-7" ) === true ) {
                $('#form-condition-submit').fadeIn();
            } else {
                $('#form-condition-submit').fadeOut();
            }
        });
        $('#form-condition-8').bind('input propertychange', function() {
            if( conditionValidator.element( "#form-condition-8" ) === true ) {
                $('#form-condition-submit').fadeIn();
            } else {
                $('#form-condition-submit').fadeOut();
            }
        });
    });

    // 지도 script
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var map;
    var markers = [];
    var autocompletes = [];
    var search_count = 1;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.449610, lng: 126.653084},
            zoom: 16
        });

        var this_li = $("#pac-input").parent();

        var input = /** @type {!HTMLInputElement} */(
            document.getElementById('pac-input'));

        //지도안에 검색창 집어넣기 map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocompletes.push(autocomplete);

        var infowindow = new google.maps.InfoWindow();

        //마커 생성
        var marker = new google.maps.Marker({
            map: map
        });
        marker.setVisible(false);
        markers.push(marker);

        autocomplete.addListener('place_changed', function () {
            var this_p_id = this_li.children(".p_id");
            var this_p_name = this_li.children(".p_name");

            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            this_p_id.val(place.place_id);
            this_p_name.val(place.name);

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }

            //마커 아이콘지정, 좌표 설정
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

//관련 사진 로드
//            var photos = place.photos;
//
//            for(var i=0; i<photos.length; i++){
//                $(".carousel").append('<a class="carousel-item" href="#one!">' +
//                    '<img src='+ photos[i].getUrl({'maxWidth': 200, 'maxHeight': 200})+'>' +
//                    '</a>');
//            }

            $('.carousel').carousel();

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            //정보 표시
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });
    }


    //검색창 추가
    $(document).on('click', '#addbtn', (function () {
        var btn_id = "pac-input" + search_count;
        search_count++;
        $('.searches').append('<li class="ui-state-default">' +
            'drag<input id="' + btn_id + '" class="controls" type="text" onkeydown="return enter(event)" placeholder="Enter a location">' +
            '<input type="button" class="delbtn" value="delete">' +
            '<input type="hidden" class="p_id">'+
            '<input type="hidden" class="p_name">'+
            '</li>');
        var for_select = '#'+btn_id;
        var this_li = $(for_select).parent();

        var input = /** @type {!HTMLInputElement} */(
            document.getElementById(btn_id));

        //지도안에 검색창 집어넣기 map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocompletes.push(autocomplete);

        var infowindow = new google.maps.InfoWindow();

        //마커 생성
        var marker = new google.maps.Marker({
            map: map
        });
        marker.setVisible(false);
        markers.push(marker);

        autocomplete.addListener('place_changed', function () {
            var this_p_id = this_li.children(".p_id");
            var this_p_name = this_li.children(".p_name");

            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            this_p_id.val(place.place_id);
            this_p_name.val(place.name);

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }

            //마커 아이콘 생성 및 좌표 설정
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);  //이부분 때문에 정보창이 약간 옆으로 밀리는 듯
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            //정보 표시
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });
    }));

    //검색창 삭제
    $(document).on('click', '.delbtn', function () {
        var index = $(this).parent().index();
        //마커가 있으면
        if (markers[index] != undefined) {
            markers[index].setMap(null);
            markers.splice(index, 1);
            autocompletes.splice(index,1);
        }
        $(this).parent().remove();
        console.log(markers);
    });
    ;
    //정보 표시
    $(document).on('click', '#info', function () {
        var s = $(".p_id");
        var n = $(".p_name");
        var length = s.length
        for(var i=0; i< length;i++) {
            console.log(s[i]);
            console.log(n[i]);
        }
    });

    //저장
    $(document).on('click', '#save', function () {
        var place_ids = "";
        var place_names ="";
        var title = $("#title").val();
        var ids = $(".p_id");
        var names = $(".p_name");
        var length = ids.length;
        for(var i=0; i< length;i++) {
            place_ids += ids[i].value+",";
            place_names += names[i].value+",";
        }
        sendPost('create', title ,place_ids, place_names)
    });

    function enter(e){
        if (window.event) {
            key = window.event.keyCode;
        } else if (e) {
            key = e.which;
        }
        if(key == 13){
            return false
        }
    }

    //post 전송
    function sendPost(url , title, p_id, p_name){

        var form=document.createElement("form");
        form.name='tempPost';
        form.method='post';
        form.action=url;
        form.enctype="multipart/form-data";
        document.body.appendChild(form);

        var input=document.createElement("input");
        input.type="hidden";
        input.name='title';
        input.value = title;
        $(form).append(input);

        //image
        var image=document.getElementById("inputImage");
        $(form).append(image);

        var input=document.createElement("input");
        input.type="hidden";
        input.name='place_ids';
        input.value = p_id;
        $(form).append(input);

        var input=document.createElement("input");
        input.type="hidden";
        input.name='place_names';
        input.value = p_name;
        $(form).append(input);
        $('#body').append(form);

        form.submit();

        //input.value= jQuery.JSONToString(object);
    }

    //divtag 옮기기
    $( function() {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    } );

</script>
<!--지도 api 사용하기 위한 코드-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARFVHKNuUhIbya3S0o0ieuYUI0q5OHz_I&libraries=places&callback=initMap" async defer></script>

</body>
</html>