<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="author" content="SemiColonWeb"/>

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/dark.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/animate.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css"/>

  <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Shall We Go</title>

  <style>
    /*지도 height 없으면 지도 사라짐*/
    li {
      list-style-type: none;
    }
    #map {
      height: 100%;
      width: 100%;
      border: solid 1px;
      min-height: 300px;
      min-width: 300px;
    }
    .map-right {
      float: right;
    }
    .map-left-event {
      float: left;
      padding-left: 0px;
    }
    .map-time {
      padding-left: 0px;
    }
    .map-location {
      padding-left: 0px;
    }
    .map-events {
      padding-left: 0px;
    }
    .map-delete {
      padding: 1.5%;
    }
  </style>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">


  <!-- Content
   ============================================= -->

  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">

        <div class="col-md-12 nobottommargin">

          <h3>
            Set up your hangout course details for a new one</h3>

          <form id="conditional-form" action="#" method="post" class="nobottommargin">

            <div class="col_full">
              <label for="form-condition-1">Enter Title</label>
              <input type="text" class="sm-form-control required" id="form-condition-1" name="form-condition-1" value="" style="width:50%">
            </div>

            <div class="col_full" id="form-condition-2-wrap" style="display:none;">
              <label for="form-condition-2">Enter Content</label>
              <input type="text" class="sm-form-control required" id="form-condition-2" name="form-condition-2" value="" style="width:50%">
            </div>

            <div class="col_full" id="form-condition-3-wrap" style="display:none;">
              <label for="form-condition-3">Enter Limit Person</label>
              <input type="number" class="sm-form-control required number" id="form-condition-3" name="form-condition-3" value="" style="width:50%">
            </div>

            <div class="col_full" id="form-condition-4-wrap" style="display:none;">
              <label for="form-condition-4">Select Start Date</label>
              <input type="date" class="sm-form-control required date" id="form-condition-4" name="form-condition-4" value="" style="width:50%">
              <label>End Date</label>
              <input type="date" class="sm-form-control required date" id="form-condition-4-end" name="form-condition-4" value="" style="width:50%">
            </div>

            <div class="col_full" id="form-condition-5-wrap" style="display: none;">
              <input type="file" class="required sm-form-control" name="imgs[]" id="inputImage" multiple=true style="width:50%">
            </div>

            <div class="col_full" id="form-condition-6-wrap" style="display:none;">
              <!-- 지도 시작 -->

              <div class="map-right">
                <div id="map"></div>
              </div>

              <div class="map-left-event col-md-8">
                <input class="button button-border button-border-thin button-aqua" type="button" id="addbtn" value="add">

                <div id="main_div">
                  <br>
                  <ul class="searches col_full" id="sortable">
                    <li>
                      <div class="map-location col-md-6">
                        <div><label>Location</label></div>
                        <input class="sm-form-control" id="pac-input" type="text" onkeydown="return enter(event)" placeholder="Enter a location">
                        <input type="hidden" class="p_id">
                        <input type="hidden" class="p_name">
                      </div>
                      <div class="map-time col-md-4">
                        <div><label>Time</label></div>
                        <input class="sm-form-control timing" type="text">
                      </div>
                      <div class="map-events col-md-8">
                        <div><label>Event</label></div>
                        <input class="sm-form-control event" type="text">
                      </div>
                      <div class="map-delete col-md-4">
                        <div><label></label></div>
                        <input type="button" class="button button-border button-border-thin button-red delbtn" value="delete">
                      </div>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <div class="carousel">
                  </div>
                </div>
              </div>
              <!--지도 끝-->
            </div>

            <div class="col_full" id="form-condition-submit" style="padding-top: 20px">
              <a type="button" class="button button-border button-rounded button-fill button-aqua" id="save"><span>Course Save</span></a>
            </div>

          </form>

        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2017 All Rights Reserved by Shall We Go.<br>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> shallwego@google.com <span class="middot">&middot;</span>
          <i class="icon-headphones"></i> +82-10-9507-8230 <span class="middot">&middot;</span>
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>

<!--jquery ui cdn-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/assets/js/functions.js"></script>

<script>
    var map;
    var markers = [];
    var autocompletes = [];
    var search_count = 1;
    jQuery(document).ready(function ($) {

        var conditionValidator = $("#conditional-form").validate({
            rules: {
                'form-condition-5': {
                    required: true,
                    minlength: 20
                }
            }
        });

        $('#form-condition-1').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-1") === true) {
                $('#form-condition-2-wrap').fadeIn();
            } else {
                $('#form-condition-2-wrap').fadeOut();
            }
        });

        $('#form-condition-2').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-2") === true) {
                $('#form-condition-3-wrap').fadeIn();
            } else {
                $('#form-condition-3-wrap').fadeOut();
            }
        });

        $('#form-condition-3').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-3") === true) {
                $('#form-condition-4-wrap').fadeIn();
            } else {
                $('#form-condition-4-wrap').fadeOut();
            }
        });

        $('#form-condition-4-end').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-4-end") === true) {
                $('#form-condition-5-wrap').fadeIn();
                $('#form-condition-6-wrap').fadeIn();
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 37.449610, lng: 126.653084},
                    zoom: 16
                });

                var this_li = $("#pac-input").parent();

                var input = /** @type {!HTMLInputElement} */(
                    document.getElementById('pac-input'));

                //지도안에 검색창 집어넣기 map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                var autocomplete = new google.maps.places.Autocomplete(input);
                autocomplete.bindTo('bounds', map);
                autocompletes.push(autocomplete);

                var infowindow = new google.maps.InfoWindow();

                //마커 생성
                var marker = new google.maps.Marker({
                    map: map
                });
                marker.setVisible(false);
                markers.push(marker);

                autocomplete.addListener('place_changed', function () {
                    var this_p_id = this_li.children(".p_id");
                    var this_p_name = this_li.children(".p_name");

                    infowindow.close();
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                    this_p_id.val(place.place_id);
                    this_p_name.val(place.name);

                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);  // Why 17? Because it looks good.
                    }

                    //마커 아이콘지정, 좌표 설정
                    marker.setIcon(/** @type {google.maps.Icon} */({
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

//관련 사진 로드
//            var photos = place.photos;
//
//            for(var i=0; i<photos.length; i++){
//                $(".carousel").append('<a class="carousel-item" href="#one!">' +
//                    '<img src='+ photos[i].getUrl({'maxWidth': 200, 'maxHeight': 200})+'>' +
//                    '</a>');
//            }

                    $('.carousel').carousel();

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    //정보 표시
                    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                    infowindow.open(map, marker);
                });
            } else {
                $('#form-condition-5-wrap').fadeOut();
            }
        });

        $('#form-condition-5').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-5") === true) {

            } else {
                $('#form-condition-6-wrap').fadeOut();
            }
        });

        $('#form-condition-6').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-7") === true) {
                $('#form-condition-7-wrap').fadeIn();
            } else {
                $('#form-condition-7-wrap').fadeOut();
            }
        });

        $('#form-condition-8').bind('input propertychange', function () {
            if (conditionValidator.element("#form-condition-8") === true) {
                $('#form-condition-submit').fadeIn();
            } else {
                $('#form-condition-submit').fadeOut();
            }
        });
    });


    // 지도 script
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.449610, lng: 126.653084},
            zoom: 16
        });

        var this_li = $("#pac-input").parent();

        var input = /** @type {!HTMLInputElement} */(
            document.getElementById('pac-input'));

        //지도안에 검색창 집어넣기 map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocompletes.push(autocomplete);

        var infowindow = new google.maps.InfoWindow();

        //마커 생성
        var marker = new google.maps.Marker({
            map: map
        });
        marker.setVisible(false);
        markers.push(marker);

        autocomplete.addListener('place_changed', function () {
            var this_p_id = this_li.children(".p_id");
            var this_p_name = this_li.children(".p_name");

            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            this_p_id.val(place.place_id);
            this_p_name.val(place.name);

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }

            //마커 아이콘지정, 좌표 설정
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

//관련 사진 로드
//            var photos = place.photos;
//
//            for(var i=0; i<photos.length; i++){
//                $(".carousel").append('<a class="carousel-item" href="#one!">' +
//                    '<img src='+ photos[i].getUrl({'maxWidth': 200, 'maxHeight': 200})+'>' +
//                    '</a>');
//            }

            $('.carousel').carousel();

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            //정보 표시
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });
    }


    //검색창 추가
    $(document).on('click', '#addbtn', (function () {
        var btn_id = "pac-input" + search_count;
        search_count++;
        $('.searches').append('<li><div class="map-location col-md-6">' +
            '<div><label>Location</label></div>' +
            '<input class="sm-form-control" id="' + btn_id + '" type="text" onkeydown="return enter(event)" placeholder="Enter a location">' +
            '<input type="hidden" class="p_id">' +
            '<input type="hidden" class="p_name">' +
            '</div>' +
            '<div class="map-time col-md-4">' +
            '<div><label>Time</label></div>' +
            '<input class="sm-form-control timing" type="text">' +
            '</div>' +
            '<div class="map-events col-md-8">' +
            '<div><label>Event</label></div>' +
            ' <input class="sm-form-control event" type="text">' +
            '</div>' +
            '<div class="map-delete col-md-4">' +
            '<div><label></label></div>' +
            '<input type="button" class="button button-border button-border-thin button-red delbtn" value="delete">' +
            '</div></li>');

        var for_select = '#' + btn_id;
        var this_li = $(for_select).parent();

        var input = /** @type {!HTMLInputElement} */(
            document.getElementById(btn_id));

        //지도안에 검색창 집어넣기 map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocompletes.push(autocomplete);

        var infowindow = new google.maps.InfoWindow();

        //마커 생성
        var marker = new google.maps.Marker({
            map: map
        });
        marker.setVisible(false);
        markers.push(marker);

        autocomplete.addListener('place_changed', function () {
            var this_p_id = this_li.children(".p_id");
            var this_p_name = this_li.children(".p_name");

            infowindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            this_p_id.val(place.place_id);
            this_p_name.val(place.name);

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }

            //마커 아이콘 생성 및 좌표 설정
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);  //이부분 때문에 정보창이 약간 옆으로 밀리는 듯
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            //정보 표시
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });
    }));

    //검색창 삭제
    $(document).on('click', '.delbtn', function () {
        var index = $(this).parent().index();
        //마커가 있으면
        if (markers[index] != undefined) {
            markers[index].setMap(null);
            markers.splice(index, 1);
            autocompletes.splice(index, 1);
        }
        $(this).parent().parent().remove();
        console.log(markers);
    });

    //정보 표시
    $(document).on('click', '#info', function () {
        var s = $(".p_id");
        var n = $(".p_name");
        var length = s.length
        for (var i = 0; i < length; i++) {
            console.log(s[i]);
            console.log(n[i]);
        }
    });

    //저장
    $(document).on('click', '#save', function () {
        var place_ids = "";
        var place_names = "";
        var place_timings="";
        var place_events="";
        var title = $("#form-condition-1").val();
        var content = $("#form-condition-2").val();
        var limitPerson = $("#form-condition-3").val();
        var startDate = $("#form-condition-4").val();
        var endDate = $("#form-condition-4-end").val();

        var ids = $(".p_id");
        var names = $(".p_name");
        var timings= $(".timing");
        var events= $(".event");
        var length = ids.length;
        for (var i = 0; i < length; i++) {
            place_ids += ids[i].value + ",";
            place_names += names[i].value + ",";
            place_timings += timings[i].value + ",";
            place_events += events[i].value + ",";
        }

        sendPost('create', title, content, limitPerson, startDate, endDate, place_ids, place_names, place_timings,place_events);
    });

    function enter(e) {
        if (window.event) {
            key = window.event.keyCode;
        } else if (e) {
            key = e.which;
        }
        if (key == 13) {
            return false
        }
    }

    //post 전송
    function sendPost(url, title, content, limitPerson, startDate, endDate, p_id, p_name, timings,events) {

        var form = document.createElement("form");
        form.name = 'tempPost';
        form.method = 'post';
        form.action = url;
        form.enctype = "multipart/form-data";
        document.body.appendChild(form);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'title';
        input.value = title;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'content';
        input.value = content;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'limitPerson';
        input.value = limitPerson;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'startDate';
        input.value = startDate;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'endDate';
        input.value = endDate;
        $(form).append(input);

        //image
        var image = document.getElementById("inputImage");
        $(form).append(image);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'place_ids';
        input.value = p_id;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'place_names';
        input.value = p_name;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'timings';
        input.value = timings;
        $(form).append(input);

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = 'events';
        input.value = events;
        $(form).append(input);

        $('#body').append(form);

        form.submit();

        //input.value= jQuery.JSONToString(object);
    }

    //divtag 옮기기
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });


</script>
<!--지도 api 사용하기 위한 코드-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARFVHKNuUhIbya3S0o0ieuYUI0q5OHz_I&libraries=places&callback=initMap" async defer></script>

</body>

</html>