<!DOCTYPE html>
<html>

  <head>

  </head>

  <body>
    <%= yield %>
  </body>

  <style>
    #header.full-header #logo {
      border-right: 0px solid #EEE;
    }
    .force-full-screen .full-screen .dark{
      background-size: cover;
    }
    .dark .slider-caption, .dark .slider-caption h2 {
      color: rgb(0, 0, 0);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    }
    #page-title {
      padding: 30px 0;

    }

    #logo{
      float: none;
    }
    #standard-logo{
      margin: 0px auto;
    }
    #retina-logo{
      margin: 0px auto;
    }

    #page-title{
      text-align: center;
    }

  </style>
</html>
