<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Event - Single | Canvas</title>

</head>

<body>


<!-- Top Bar
============================================= -->
<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
      ============================================= -->
      <div class="top-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/support/support_index">FAQs</a></li>
          <!--<li><a href="contact.html">Contact</a></li>-->
          <li><%= link_to 'Logout', destroy_user_session_path %></li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
      ============================================= -->
      <div id="top-social">
        <ul>
          <!--<li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>-->
          <!--<li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>-->
          <!--<li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>-->
          <!--<li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>-->
          <!--<li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>-->
          <!--<li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>-->
          <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+82.10.95078230</span></a></li>
          <li><a href="/mailbox/inbox" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">rnejrl123456@gmail.com</span></a></li>
          <li><a href="#" class="si-line-head"><span class="ts-icon"><i class="icon-line-head"></i></span><span class="ts-text">Youduk Han</span></a></li>
        </ul>
      </div><!-- #top-social end -->

    </div>

  </div>

</div><!-- #top-bar end -->

<!-- Header
============================================= -->
<header id="header" class="sticky-style-2">

  <div class="container clearfix">

    <!-- Logo
    ============================================= -->
    <div id="logo">
      <a href="index.html" class="standard-logo" data-dark-logo="/assets/shallwegologo.png"><img id="standard-logo" src="/assets/shallwegologo.png" alt="Canvas Logo" ></a>
      <a href="index.html" class="retina-logo" data-dark-logo="/assets/shallwegologo.png"><img id="retin-logo" src="/assets/shallwegologo.png" alt="Canvas Logo" ></a>
    </div><!-- #logo end -->

  </div>

  <div id="header-wrap">

    <!-- Primary Navigation
    ============================================= -->
    <nav id="primary-menu" class="style-2">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
          <li class="current"><a href="/home/index"><div>Home</div></a>

          </li>
          <li><a href="/foreigner/foreigner_hangout_concept"><div>Your hang-out concept</div></a>

          </li>
          <li class="mega-menu"><a href="/course/course_list"><div>Pending hang-outs</div></a>

          </li>
          <li class="mega-menu"><a href="/course/course_new"><div>Create your own hang-out</div></a>

          </li>
          <li class="mega-menu"><a href="/foreigner/foreigner_list"><div>Pending foreigner</div></a>

          </li>
          <!--<li class="mega-menu"><a href="#"><div></div></a>-->

          <!--</li>-->
          <!--<li><a href="shop.html"><div></div></a>-->

          <!--</li>-->
          <!--<li class="mega-menu"><a href="#"><div></div></a>-->

          <!--</li>-->
        </ul>

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
          </form>
        </div><!-- #top-search end -->

      </div>

    </nav><!-- #primary-menu end -->

  </div>

</header><!-- #header end -->

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">


        <% flash.each do |key, value| %>
            <div class="text-center <%= flash_class(key) %>">
              <%= value %>
            </div>
        <% end %>


        <%= yield %>

      </div>

    </div>

  </section><!-- #content end -->

</div>
<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/assets/js/functions.js"></script>

</body>


<style>
  #header.full-header #logo {
    border-right: 0px solid #EEE;
  }
  .force-full-screen .full-screen .dark{
    background-size: cover;
  }
  .dark .slider-caption, .dark .slider-caption h2 {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  }
  #page-title {
    padding: 30px 0;

  }

  #logo{
    float: none;
  }
  #standard-logo{
    margin: 0px auto;
  }
  #retina-logo{
    margin: 0px auto;
  }

  #page-title{
    text-align: center;
  }

</style>
</html>
